<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header::header}"></head>
<body>
    <h2>Editar Cliente</h2>
    <form action ="#" th:object="${cliente}" th:action="@{/cliente/atualizar/{id}(id=${cliente.id})}" method="post">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input class="form-control" type name="text" th:field="*{nome}" id ="nome"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type name="text" th:field="*{email}" id ="email"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Cpf</label>
            <input class="form-control" type name="text" th:field="*{cpf}" id ="cpf"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Data de Nascimento</label>
            <input class="form-control" type name="text" th:field="*{dataNascimento}" id ="dataNascimento"/>
        </div>

        <input class="btn btn-secondary" type="submit" value="Editar Cliente"/>
    </form>
</body>
</html>