<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header::header}"></head>
<body>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Cpf</th>
        <th>Data de Nascimento</th>
        <th>Ações</th>

    </tr>
    <tr th:each="cliente: ${listaCliente}">
        <td th:text="${cliente.id}"></td>
        <td th:text="${cliente.nome}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.cpf}"></td>
        <td th:text="${cliente.dataNascimento}"></td>
        <td>
            <a class="btn btn-link" th:href="@{/cliente/excluir/{id}(id=${cliente.id})}">Excluir</a>
            <a class="btn btn-link" th:href="@{/cliente/editar/{id}(id=${cliente.id})}">Editar</a>
        </td>
    </tr>
    <tr>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-secondary" href="/cliente/adicionar">Criar novo cliente</a>
        </div>
    </tr>
</table>

</body>
</html>